{% extends "base.html.twig" %}

{% block content %}
    <h1>Accueil du microblog</h1>
    <div class="panel panel-default">
        <div class="panel-body">
            {% if articleList %}
                {% for article in articleList %}
                    <article>
                        <p>{{ article.text }}</p>
                        <p>écrit le <time datetime="{{ article.createdAt|date('Y-m-d')
                            }}">{{ article.createdAt|date("d/m/Y") }}</time> </p>
                        <div>
                            <a class="btn btn-warning" href="/article/edit/{{
                            article.id }}" role="button">Modifier</a>
                            <a class="btn btn-danger" href="/article/delete/{{
                            article.id }}" role="button">Supprimer</a>
                        </div>
                    </article>
                {% endfor %}
            {% else %}
                <p>Aucun article.</p>
            {% endif %}
        </div>
        <div class="panel-footer">
            <a class="btn btn-default" href="/article/create" role="button">Ajouter un
                article</a>
        </div>
    </div>
{% endblock %}